<h1>Usted agrego un nuevo menu a su carta de restaurante</h1>
<div class="row">
	<div class="col-xs-6">
		<button id="login-form-link" class="btn btn-register"><a href="PrincipalDeRestaurantes">Aceptar</a></button>
	</div>
</div>
